# Ambiente Virtual
venv/
.venv/
env/

# Arquivos temporários do Python
__pycache__/
*.py[cod]

# Arquivos de sistema (Mac/Windows)
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/

# Dados brutos 
data/raw/*.zip