# Ambiente Virtual
venv/
.venv/
env/

# Arquivos temporários do Python
__pycache__/
*.py[cod]
*.log

# Arquivos de sistema (Mac/Windows)
.DS_Store
Thumbs.db

# Configurações de IDE
.vscode/
.idea/

# Dados brutos 
data/raw/*.zip
data/raw/*.csv
!data/raw/.gitkeep

# Dados processados 
data/processed/*.csv
!data/processed/.gitkeep

# Ignorar pastas temporárias de extração (se houver)
data/temp/
data/temp_extract/

# Ignorar Artefatos Finais
*.zip

# Ignorar banco de dados locais (SQLite)
*.sqlite3
*.db